#root {
  --primary-color: #19252a;
  /* --secondary-color: #470e2e; */
  --secondary-color: #0cb1c7;
  --title-color: #8cdd1b;
  background-color: #6d2a60;
  min-height: 100vh;
}


.container__body {
  display: grid;
  align-items: center;
  gap: 20px;
}

.container__cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.resident {
  width: 100%;
  max-width: 260px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 5%;
  overflow: hidden;
  transition: transform 100ms ease;
}

.resident:hover {
  transform: scale(1.03);
}

.resident__header {
  position: relative;
}

.resident__status {
  position: absolute;
  top: 2.5em;
  background-color: var(--primary-color);
  width: 35%;
  padding: 0.3em 0.7em;
  border-radius: 0 0.5em 0.5em 0;
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.resident__status__circle {
  display: block;
  width: 0.8em;
  aspect-ratio: 1;
  background-color: gray;
  border-radius: 50%;
}

.Alive {
  background-color: greenyellow;
}

.Dead {
  background-color: red;
}

.resident__body {
  padding: 1.5em 1em 2.5em;
}

.resident__name {
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: 900;
  color: var(--title-color);
}

.resident__separator {
  margin-bottom: 0.3em;
  border-color: rgb(70, 70, 70);
}

.resident__list {
  display: grid;
  gap: 0.2em
}

.resident__item {
  display: flex;
  flex-direction: column;
}

.resident__label {
  font-size: 0.9em;
  padding-left: 1em;
  color: rgb(70, 70, 70);
}

.resident__value {
  font-weight: 500;
  padding-left: 1.5em;
}

.location {
  justify-self: center;
  display: grid;
  align-content: space-evenly;
  background-color: var(--secondary-color);
  text-align: center;
  border-radius: 9px;
  width: 40vw;
  height: 70px;
  color: white;
  margin-top: 12px;
}

.location h2 {
  color: var(--title-color)
}

.location_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.location__item__label {
  color: #19252a;
  font-weight: 500;
}

.location__item__value {
  font-weight: 600;
}