@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, sans-serif;
}


body {
  margin: 0;
}

h1, h2, h3, ul, hr {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

input {
  outline: none;
  font-family: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.container__header {
  /* position: relative; */
  position: sticky;
  top: 0;
  z-index: 3;
  background-image: url(./assets/img/bg_rick_and_morty_2.png);
  background-size: cover; 
  background-repeat: no-repeat;  
  height: 20vh;
  background-position: center;
}

.container__form {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
  /* padding: 8px 16px; */
}

.container__form input {
  border: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  height: 2.5em;
}

.container__form button {
  border: none;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  height: 2.5em;
  /* background-color: var(--primary-color); */
  background-color: var(--secondary-color);
  color: white;
}